name: Build & Push to DockerHub
on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        run: docker build -t zineddinen/backend_image ./backend

      - name: Push
        run: docker push zineddinen/backend_image

      - name: Deploy to VM over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY_PRIVATE }}
          script: |
           
            
            sudo docker pull zineddinen/backend_image:latest
            sudo docker run -d -p 80:5000 --name backend zineddinen/backend_image:latest
           
